body{
    margin: 0px;
    padding: 0px;
}
.top{
    background-color: rgb(32, 216, 210);
}
.left{
    background-color: rgb(255, 197, 149);
}
.content{
    width: 1050px;
    background-color: rgb(248, 198, 255);
}
.bottom{
    background-color:rgb(181, 187, 255);
}
